<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/register.html %}  
    {% include 2017_data/location.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    <a href="#page-top"
   style="
      position:fixed;
      bottom:30px;
      right:30px;
      width:60px;
      height:60px;
      background:red;
      color:white;
      font-size:40px;
      display:flex;
      align-items:center;
      justify-content:center;
      z-index:999999;
   ">
    TEST
</a>
      
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
